.news__section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  width: 100%;
}
.news__section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.news__section-title h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}
.news__section-title h5 {
  font-size: 0.9rem;
  color: var(--color-blue);
}
.news__section-boddy {
  display: flex;
  gap: 0.8rem;
}
.news__section-news1 img {
  width: 485px;
  height: 500px;
  object-fit: cover;
}
.news__section-news1 p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.news__section-news1 {
  border: 2px solid var(--color-blue);
  background-color: #0a0d0d;
}
.news__section-news1 p,
h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.news__section-news1 button {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.main_div::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  transition: 0.5s;
}

.main_div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
  transition: 0.5s;
}

.main_div:hover::before {
  width: 100%;
  height: 100%;
}

.main_div:hover::after {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 2000px) {
}

@media screen and (max-width: 1440px) {
  .news__section-news1 img {
    width: 456px;
    height: 500px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1024px){
  .news__section-boddy {
    display: flex;
    flex-direction: column;
  }
  .news__section-news1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 820px) and (min-width: 768px) {
  .news__section-boddy {
    display: flex;
    flex-direction: column;
  }
  .news__section-news1 img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  .news__section-news1 {
    margin: 0 8.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .news__section-boddy {
    display: flex;
    flex-direction: column;
  }
  .news__section-news1 img {
    width: 100%;
    height: auto;
    object-fit: cove;
  }

}
@media screen and (min-width: 425px) and (max-width: 768px){
  .news__section-boddy {
    display: flex;
    flex-direction: column;
  }
  .news__section-news1 img {
    width: 100%;
    height: auto;
    object-fit: cove;
  }
}